@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');

.jersey-20-regular {

  }


body{
    background-color:goldenrod
}

html, body{
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
    background-color: rgb(248, 119, 6);
    padding: 20px;
}

header img{
    width: 250px;
    height: 400px;
    border: 20px solid rgb(17, 17, 106);
    border-radius: 50%;
}

header h1{
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    margin: 10px 0 20px 0;
    color:black

}