body{
    background-color:goldenrod
}

html, body{
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
    background-color: rgb(231, 84, 84);
    padding: 20px;
}

header img{
    width: 250px;
    height: 400px;
    border: 20px solid rgb(242, 5, 5);
    border-radius: 50%
}